In [2]:
import pandas as pd
df = pd.read_csv("marvel_clean.csv")
df.head()

,Title,Distributor,ReleaseDateUS,Budget,OpeningWeekendNorthAmerica,NorthAmerica,OtherTerritories,Worldwide
0,Howard the Duck,Universal Pictures,1986-08-01 00:00:00,37000000,5070136,16295774,21667000,37962774
1,Blade,New Line Cinema,1998-08-21 00:00:00,45000000,17073856,70087718,61095812,131183530
2,X-Men,20th Century Fox,2000-07-14 00:00:00,75000000,54471475,157299717,139039810,296339527
3,Blade II,New Line Cinema,2002-03-22 00:00:00,54000000,32528016,82348319,72661713,155010032
4,Spider-Man,Sony Pictures,2002-05-03 00:00:00,139000000,114844116,403706375,418002176,821708551